@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --root-font: "Inter", sans-serif;
    --primary-color: 26, 50, 156;
    --secondary-color: 59, 37, 158;
    --background-color: 255, 255, 255;
    --text-default-color: 10, 10, 10;
    --dropdown-background-color: var(--background-color);
    --link-color: 0, 81, 255;
    --primary-button-color: var(--primary-color);
    --primary-button-text: 255, 255, 255;
    --primary-button-color-hover: 39, 67, 192;
    --secondary-button-color: 59, 37, 158;
    --secondary-button-text: 255, 255, 255;
    --secondary-button-color-hover: 72, 45, 194;
    --wrapper-width: 60vw;
    --wrapper-width-bp-1: 75vw;
    --wrapper-width-bp-2: 82vw;
    --wrapper-width-bp-3: 92vw;
    --intro-height: 30rem;
    --sidenav-width: 13vw;
    --input-label-color: var(--primary-color);
    --sidenav-text-color: 0, 0, 0;
    --sidenav-accent-color: 255, 0, 0;
    --navbar-text-color: var(--primary-color);
    --details-label-color: var(--primary-color);
    --card-outline-color: var(--secondary-color);
    --default-border-color: 0, 0, 0;
    --progress-bar-color: var(--primary-color);
    --process-list-divider-color: var(--primary-color);
    --info-circle-color: var(--primary-color);
    --tab-switch-link-color: var(--primary-color);
    --form-progress-bar-color: var(--primary-color);
    interpolate-size: allow-keywords;
}

*:not(i, span.icon) {
    font-family: var(--root-font);
    letter-spacing: 0.15px;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    text-rendering: optimizeSpeed;
}

html {
    overflow-x: hidden;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw !important;
    width: 100vw;
    min-height: 100vh;
    line-height: 1.6;
    font-size: 1rem;
    color: rgb(var(--text-default-color));
    background-color: rgb(var(--background-color));
}

header.website-warning {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbb00 !important;
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    background-color: rgb(var(--background-color));
    height: 4.5rem;
    padding: 0.5rem;
    justify-content: center;
    color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 100;
    font-weight: 450;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 5px 8px 0px;
}

nav .wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: var(--wrapper-width);
}

nav div.logo {
    max-width: calc(100% - 5rem);
}

nav a {
    display: flex;
}

nav:has(a > img) {
    padding: 0.75rem;
}

nav a:has(img) {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: rgb(var(--primary-color));
    font-size: 1.05rem;
}

nav a img {
    max-height: 3.5rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

nav ul.nav {
    width: max-content;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

nav ul.nav li {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

nav ul.nav li a {
    color: rgb(var(--navbar-text-color));
    display: flex;
    gap: 0.4rem;
}

nav.side-nav ul.nav li.current a,
nav.side-nav ul.nav li.current ul li a {
    background-color: rgba(var(--sidenav-accent-color), 0.1);
}

nav.side-nav ul.nav li.current ul li a {
    background-color: transparent;
}

nav button.nav-collapse {
    padding: 2rem 0;
    height: 4rem;
    font-size: 3rem;
    aspect-ratio: 1/1;
    color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: none;
    overflow: hidden;
}

nav ul.nav button.nav-collapse {
    display: none;
}

nav button.nav-collapse img {
    width: 100%;
    opacity: 0.75;
}

main {
    width: 100vw;
    max-width: 100vw !important;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
}

.website-intro {
    display: flex;
    flex-direction: column;
    height: var(--intro-height);
    align-items: center;
    justify-content: center;
    gap: 0.25rem !important;
    background-image: url("intro-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.website-intro .row .col {
    display: flex;
    justify-content: center;
}

.website-intro h1.header-intro {
    font-size: 3rem;
    background: #1a329c;
    background: linear-gradient(to right, #1a329c 0%, #452bb9 100%);
    background-clip: text;
    font-weight: 750;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.website-intro h2 {
    font-weight: 500;
    text-align: center;
}

main nav.side-nav {
    width: var(--sidenav-width);
    position: fixed;
    top: 4.5rem;
    left: 0;
    height: calc(100vh - 4.5rem);
    overflow-y: auto;
    background-color: rgb(var(--background-color));
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: none !important;
    z-index: 9999;
}

main nav.side-nav ul.nav li ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 2rem;
    list-style: none;
}

main nav.side-nav ul.nav {
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
}

main nav.side-nav ul.nav li,
main nav.side-nav ul.nav li a {
    width: 100%;
    color: rgb(var(--sidenav-text-color));
}

main nav.side-nav ul.nav li a {
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    text-decoration: none !important;
    line-height: 1.4;
    font-weight: normal;
}

main nav.side-nav ul.nav li a:hover {
    background-color: rgba(var(--sidenav-accent-color), 0.075);
}

main nav.side-nav ul.nav li.current a:hover,
main nav.side-nav ul.nav li.current ul li a:hover {
    background-color: rgba(var(--sidenav-accent-color), 0.15);
}

main nav.side-nav ul.nav li.current ul li a:hover {
    background-color: rgba(var(--sidenav-accent-color), 0.075);
}

main div.wrapper {
    width: var(--wrapper-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main:has(aside) div.wrapper {
    width: calc(var(--wrapper-width) - 200px - 1rem);
}

main div.wrapper .row,
footer div.wrapper .row {
    width: 100%;
    display: flex;
    gap: 1rem;
}

main div.wrapper .row.background-visible {
    border-radius: 0.5rem;
    padding: 1rem;
}

main div.wrapper .row.full-width::before {
    content: "";
    width: 100vw;
    position: absolute;
}

main div.wrapper .row .col,
footer div.wrapper .row .col {
    width: 100%;
}

footer {
    width: 100vw;
    max-width: 100vw !important;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .wrapper {
    width: var(--wrapper-width);
}

*:is(.button, button, input[type="submit"], input[type="reset"], a):active {
    filter: brightness(0.85);
}

.pill-rounded {
    border-radius: 9999px !important;
}

.button {
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 0.95rem;
    line-height: 1.5;
    padding: 0.35rem 0.85rem;
    margin: 0;
    background-color: transparent;
    color: rgb(var(--primary-color));
    border-radius: 0.3rem;
    transition: all 80ms ease-in-out;
    font-weight: 400 !important;
    transition-property: background-color, color, border, background, filter;
    text-align: center;
    text-decoration: none !important;
}

.button.l-radius,
.button.big {
    border-radius: 0.45rem;
}

.button.small {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
}

.button:not(.outlined, .primary, .secondary):hover {
    background-color: rgba(var(--primary-button-color), 0.1);
}

.button:disabled,
.button[aria-disabled="true"] {
    background-color: #c9c9c9 !important;
    color: #222 !important;
    cursor: not-allowed !important;
    text-decoration: none !important;
}

.button.outlined:disabled,
.button.outlined[aria-disabled="true"] {
    background-color: transparent !important;
    border-color: #c9c9c9;
    color: #808080 !important;
    cursor: not-allowed !important;
    text-decoration: none !important;
}

.button .icon {
    width: 1.5rem;
}

.button.big {
    font-size: 1.25rem;
}

.button.primary {
    background-color: rgb(var(--primary-button-color));
    color: rgb(var(--primary-button-text));
}

.button.primary:hover {
    background-color: rgb(var(--primary-button-color-hover));
}

.button.secondary {
    background-color: rgb(var(--secondary-button-color));
    color: rgb(var(--secondary-button-text));
}

.button.secondary:hover {
    background-color: rgb(var(--secondary-button-color-hover));
}

.button.outlined {
    border: 1px solid rgb(var(--primary-color));
    background-color: transparent;
    color: rgb(var(--primary-color));
}

.button.outlined:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--primary-button-text));
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
    width: 100%;
}

form p {
    margin: 0;
}

.form-control {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(var(--text-default-color), 0.9);
    border: 1px solid rgba(var(--default-border-color), 0.3);
    background-color: rgb(var(--background-color));
    padding: 0.45rem 0.85rem;
    border-radius: 0.3rem;
    line-height: 1.5 !important;
    outline: 0.2rem solid transparent;
    outline-offset: -1px;
    transition: outline 80ms ease-in-out;
}

.form-control.no-border {
    border-color: transparent;
}

.form-control.no-border.no-padding {
    padding-left: 0 !important;
}

.form-control:focus {
    outline-color: rgb(var(--primary-color));
}

.form-control:is(input[type=date], input[type=file]) {
    padding: calc(0.45rem - 1px) 0.85rem;
}

.form-control:is(select) {
    padding: calc(0.45rem + 1px) 0.85rem;
}

.form-control:is(label) {
    padding: calc(0.55rem - 1px) 0.85rem !important;
}

.form-control.slim {
    padding: 0.35rem 0.65rem;
    font-size: 0.95rem;
}

.form-control:is(select, input[type="date"]) {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    margin-right: -0.35rem;
}

.form-control:is(label):has(input[type="radio"], input[type="checkbox"]) {
    font-size: 0.95rem;
    color: #000;
    display: flex;
    gap: 0.35rem;
    align-items: center;
    font-weight: 450;
    padding: 0.55rem 0.85rem;
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

input[type="range"] {
    padding: 0;
    margin-bottom: 1rem;
    cursor: e-resize;
    outline-offset: 1px !important;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

input[type="file"] {
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    cursor: pointer;
    background-color: rgb(var(--primary-button-color));
    color: rgb(var(--primary-button-text));
    border: none;
    border-radius: 0.3rem;
    padding: 0.25rem 0.5rem;
    transition: background-color 80ms ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    text-decoration: underline;
    background-color: rgb(var(--primary-button-color-hover));
}

textarea {
    resize: vertical;
    min-height: 4rem;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
}

.form-group.inline div {
    display: flex;
}

.form-group.inline div .form-control {
    width: fit-content;
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group.inline div .button {
    width: max-content !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-group label {
    font-weight: 450;
    color: rgb(var(--input-label-color));
    margin: 0.1rem 0;
    font-size: 0.95rem;
}

.form-group:has(input[type="range"]) {
    padding-bottom: 0.5rem;
}

.form-group:has(input[type="range"]) span.start-value,
.form-group:has(input[type="range"]) span.end-value {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    position: absolute;
}

.form-group:has(input[type="range"]) span.start-value {
    bottom: 0;
    left: 5px;
    pointer-events: none;
}

.form-group:has(input[type="range"]) span.end-value {
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.form-group:has(input[type="range"]) ul.steps-indicator {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    position: absolute;
    width: calc(100% - 5px);
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 5px;
    margin: 0;
    pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0.25rem 0;
}

p {
    padding: 0;
    margin: 0.4rem 0;
}

p.s-margin {
    margin: 0.15rem 0;
}

p.xs-margin {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 650;
    line-height: 1.4;
}

.header-primary {
    color: rgb(var(--primary-color)) !important;
}

.header-secondary {
    color: rgb(var(--secondary-color));
}

h1 {
    font-size: 2.05rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.55rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

h5,
h6 {
    font-size: 0.85rem;
    text-transform: uppercase;
}

h6 {
    color: rgba(0, 0, 0, 0.6);
}

a {
    color: rgb(var(--link-color));
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

details {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
}

details summary {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    color: rgb(var(--details-label-color));
    cursor: pointer;
    margin: -1rem;
    transition: margin-bottom 0.3s ease;
    width: calc(100% + 2rem);
    max-width: unset !important;
}

details summary:hover {
    text-decoration: underline;
}

details summary:focus {
    outline: 3px dotted rgb(var(--text-default-color));
    outline-offset: -3px;
}

details[open] summary {
    margin-bottom: 0.5rem;
}

.table {
    width: 100%;
    overflow-x: auto;
}

table {
    min-width: 100%;
    max-width: max-content !important;
    border-collapse: collapse;
}

table tr:hover td {
    background-color: rgba(0, 0, 0, 0.03);
}

table tr th {
    background-color: rgba(0, 0, 0, 0.15);
}

table tr:first-child th {
    white-space: nowrap;
}

table tr th,
table tr td {
    padding: 0.5rem;
    border: 1px solid rgba(var(--default-border-color), 0.5);
}

div.dropdown {
    display: inline-flex;
}

div.dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    z-index: 99;
    font-weight: 450;
    background-color: rgb(var(--dropdown-background-color));
    padding: 0.25rem;
    border: 1px solid rgba(var(--default-border-color), 0.1);
    border-radius: 0.25rem;
    width: max-content;
    max-width: 300px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
}

div.dropdown .toggler {
    position: relative;
    display: flex;
    align-items: center;
}

div.dropdown .toggler::after {
    content: "";
    border: 0.15rem solid currentColor;
    border-top: none;
    border-left: none;
    width: 0.3rem;
    height: 0.3rem;
    rotate: 45deg;
    margin-top: -0.3rem;
    margin-left: 0.1rem;
    color: inherit !important;
    position: static;
}

div.dropdown ul li a {
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.35rem;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
    font-weight: inherit;
    font-size: 0.95rem;
}

div.dropdown.primary ul li a {
    color: rgb(var(--primary-color));
}

div.dropdown.secondary ul li a {
    color: rgb(var(--secondary-color));
}

div.dropdown ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

div.dropdown ul.show {
    display: block;
    /*animation: dropdown-show 60ms ease forwards;*/
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid rgba(var(--default-border-color), 0.1);
    color: #000;
    border-radius: 0.4rem;
    outline: none;
    transition: outline 80ms ease-in-out;
}

.card.inline {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.card.no-padding {
    padding: 0;
}

.card.no-padding h1:first-child,
.card.no-padding h2:first-child,
.card.no-padding h3:first-child,
.card.no-padding h4:first-child,
.card.no-padding h5:first-child,
.card.no-padding h6:first-child {
    padding: 1rem;
    padding-bottom: none;
}

.card.message-box {
    border: none;
    border-radius: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
}

.card img {
    border-radius: 0;
}

.card.message-box div {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card.message-box div.sender {
    white-space: nowrap;
}

.card.message-box p.message {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card.message-box div.description {
    flex: 1;
    min-width: 0;
    /* Zapobiega nadmiernemu rozszerzaniu */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
}

.card.message-box div.description p {
    margin: 0;
}

.card.message-box p.message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100% !important;
    /* Zapewnia, że tekst nie wychodzi poza dostępne miejsce */
}

.card.message-box div.description p.topic {
    font-weight: bold;
}

.card.message-box img.sender-image {
    max-height: 3rem;
}

.card.message-box.mb-slim p.topic,
.card.message-box.mb-slim p.message {
    width: 50%;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.message-box.mb-slim img.sender-image {
    max-height: 2rem;
    border-radius: 0.25rem;
}

.card.message-box.mb-slim div.description {
    flex-direction: row;
    gap: 1rem;
}

.card h4 {
    font-weight: 650;
}

.card.background {
    background-color: rgba(0, 0, 0, 0.04);
}

.card.l-radius {
    border-radius: 1rem;
}

.card.shadow {
    background-color: rgb(var(--background-color));
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14), inset 0 0 0px 2px transparent;
}

.card.l-radius img.card-image:first-of-type {
    border-radius: 1rem 1rem 0 0;
}

.card:is(a) {
    outline: 0.25rem solid transparent;
    outline-offset: -2px;
}

.card.no-border:is(a),
.block-cards.no-border .card:is(a) {
    outline-offset: 0 !important;
}

.card:is(a):hover {
    outline: 0.25rem solid rgb(var(--card-outline-color));
}

.card img.card-image:first-of-type {
    margin: -1rem;
    margin-bottom: 0.5rem;
    width: calc(100% + 2rem);
    max-width: unset !important;
    border-radius: calc(0.35rem - 2px) calc(0.35rem - 2px) 0 0;
}

.card div.image-centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.centered {
    align-items: center;
    text-align: center;
}

.card:is(a):hover {
    text-decoration: none;
}

.card .button {
    margin: 0;
}

.card:is(a):hover h1,
.card:is(a):hover h2,
.card:is(a):hover h3,
.card:is(a):hover h4 {
    color: rgb(var(--card-outline-color)) !important;
}

.block-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto auto;
    gap: 1rem;
}

.block-cards.no-border .card,
.card.no-border {
    border-color: transparent;
}

.block-cards.no-border .card img.card-image,
.card.no-border img.card-image {
    max-width: calc(100% + 2rem + 4px);
    width: calc(100% + 2rem + 4px);
    margin-top: calc(-2px - 1rem);
    margin-left: calc(-2px - 1rem);
}

.block-cards.small {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
}

img {
    border-radius: 0.5rem;
}

hr {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    border: 1px solid rgba(var(--default-border-color), 0.2);
    border-bottom: none;
}

big {
    font-size: 1.5rem;
}

dialog {
    width: 100vw;
    height: 100vh;
    max-height: unset;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    z-index: 9999;
    padding: 0;
}

dialog::backdrop {
    background-color: transparent;
}

dialog[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modal_fadein 0.3s ease-in-out forwards;
}

dialog div.body {
    background-color: rgb(var(--background-color));
    max-width: 40%;
    min-width: 20%;
    max-height: 70%;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    position: relative;
}

dialog div.body p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 0.35rem 0;
}

dialog[open] div.body {
    animation: modal_fadein_1 0.3s ease forwards;
}

.alert {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.alert h3 {
    font-weight: bold;
}

.alert .icon {
    font-size: 2rem;
}

.alert.information {
    border-left: 0.5rem solid rgb(0, 155, 216);
    background-color: rgba(0, 155, 216, 0.1);
}

.alert.outlined.information {
    border: 0.25rem solid rgb(0, 82, 165);
    background-color: transparent;
    border-radius: 0.35rem;
}

.alert.warning {
    border-left: 0.5rem solid rgb(255, 187, 0);
    background-color: rgba(255, 187, 0, 0.1);
}

.alert.outlined.warning {
    border: 0.25rem solid rgb(255, 187, 0);
    background-color: transparent;
    border-radius: 0.35rem;
}

.alert.success {
    border-left: 0.5rem solid rgb(0, 134, 11);
    background-color: rgba(0, 134, 11, 0.1);
}

.alert.outlined.success {
    border: 0.25rem solid rgb(0, 134, 11);
    background-color: transparent;
    border-radius: 0.35rem;
}

.alert.error {
    border-left: 0.5rem solid rgb(204, 0, 0);
    background-color: rgba(204, 0, 0, 0.1);
}

.alert.outlined.error {
    border: 0.25rem solid rgb(204, 0, 0);
    background-color: transparent;
    border-radius: 0.35rem;
}

.alert.slim {
    padding: 0.35rem 0.75rem;
    gap: 0.35rem;
}

.alert.slim:has(.icon) {
    padding: 0.25rem 0.35rem;
}

.alert.slim p {
    padding: 0;
    margin: 0;
}

.alert.slim .icon {
    font-size: 1.5rem;
    display: flex;
    align-items: start;
}

.alert.slim .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.badge {
    width: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    margin: 0.25rem 0.25rem 0.25rem 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
}

.badge.information {
    background-color: rgba(0, 155, 216, 0.85);
    color: #fff;
}

.badge.warning {
    background-color: rgba(255, 187, 0, 0.85);
    color: #000;
}

.badge.success {
    background-color: rgba(0, 134, 11, 0.85);
    color: #fff;
}

.badge.error {
    background-color: rgba(204, 0, 0, 0.85);
    color: #fff;
}

.badge.bold {
    font-weight: bold;
}

.form-progress {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-progress .bars {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-progress .bars .bar {
    width: 100%;
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.15);
}

.form-progress .bars .bar.complete {
    background-color: rgb(var(--form-progress-bar-color));
}

.form-progress .description h2.progress-heading {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form-progress .description h2.progress-heading .current-step {
    background-color: rgb(var(--form-progress-bar-color));
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-progress .description h2.progress-heading .steps-left {
    font-weight: normal;
}

.form-progress .description {
    display: flex;
    flex-direction: column;
}

kbd {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid rgba(var(--default-border-color), 0.1);
    border-bottom-width: 3px;
    width: -moz-min-content;
    width: min-content;
}

.button-group {
    width: 100%;
    display: flex;
    gap: 0;
}

.button-group.fit-text .button {
    width: fit-content;
}

.button-group .button {
    margin: 0;
    border-radius: 0;
    width: 100%;
}

.button-group .button:first-child {
    border-radius: 0.3rem 0 0 0.3rem;
}

.button-group .button.pill-rounded:first-child {
    border-radius: 9999px 0 0 9999px !important;
}

.button-group .button.l-radius:first-child {
    border-radius: 0.45rem 0 0 0.45rem !important;
}

.button-group .button.outlined:not(:last-child) {
    border-right: none;
}

.button-group .button:last-child {
    border-radius: 0 0.3rem 0.3rem 0;
}

.button-group .button.pill-rounded:last-child {
    border-radius: 0 9999px 9999px 0 !important;
}

.button-group .button.l-radius:last-child {
    border-radius: 0 0.45rem 0.45rem 0 !important;
}

@keyframes modal_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modal_fadein_1 {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

dialog div.body .dialog-close {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    opacity: 0.75;
    font-weight: 350;
    cursor: pointer;
    border: none;
}

dialog div.body .dialog-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

progress {
    width: 100%;
    height: 1rem;
    border-radius: 0.4rem;
}

progress.slim {
    height: 0.5rem;
}

progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
}

progress::-webkit-progress-value {
    background-color: rgb(var(--progress-bar-color));
    border-radius: 0.4rem 0 0 0.4rem;
}

.process-list {
    width: 100%;
}

.process-list ol.process-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    counter-reset: item;
}

.process-list ol.process-list li.step-item {
    counter-increment: item;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.15rem 0 0 1.5rem;
}

.process-list ol.process-list li.step-item::before {
    content: counter(item);
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.125rem;
    left: -1.5rem;
    border: 0.2rem solid rgb(var(--default-border-color));
    font-weight: bold;
    border-radius: 1.5rem;
}

.process-list ol.process-list li.step-item::after {
    content: "";
    width: 0.35rem;
    height: calc(100% - 3rem);
    position: absolute;
    top: 3rem;
    left: -0.5rem;
    background-color: rgb(var(--process-list-divider-color));
}

.process-list ol.process-list li.step-item:last-child::after {
    background-color: transparent;
}

ul.breadcrumb {
    display: flex;
    padding: 0;
    row-gap: 0.25rem;
    margin: 0.5rem 0;
    list-style: none;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    white-space: nowrap;
}

ul.breadcrumb li:not(:last-child)::after {
    content: "\003E";
    margin: 0 0.5rem;
}

ul.breadcrumb li:last-child a {
    pointer-events: none;
    color: #000;
    text-decoration: none !important;
}

code {
    background-color: rgba(0, 0, 0, 0.075);
    font-family: monospace !important;
    font-weight: 500;
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
}

pre {
    font-family: monospace !important;
    max-width: 100%;
    overflow: auto;
    padding: 0.75rem;
    border-radius: 0.25rem;
    display: block;
    white-space: pre;
}

pre.code-block {
    border: 1px solid rgba(var(--default-border-color), 0.1);
}

pre.code-block:has(header) {
    padding-top: 3rem;
}

pre.code-block header {
    padding: 0.35rem 0.65rem;
    margin: -0.75rem;
    font-size: 0.8rem;
    width: calc(100% + 1.5rem);
    max-width: unset !important;
    position: sticky;
    left: -0.75rem;
    margin-top: -3rem;
    margin-bottom: 0.75rem;
    max-width: unset;
    background-color: rgba(var(--default-border-color), 0.05);
}

aside {
    width: 200px;
    height: 100% !important;
    position: sticky;
    top: 7rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 1rem;
}

aside ul.aside-items {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0;
}

aside ul.aside-items li {
    width: 100%;
}

aside ul.aside-items li a {
    font-size: 0.95rem;
    padding: 0.25rem 0;
    width: 100%;
    display: flex;
    color: #000 !important;
}

aside ul.aside-items li a:hover::after,
aside ul.aside-items li.current a::after {
    content: "";
    height: 100%;
    width: 0.2rem;
    position: absolute;
    left: calc(-1rem - 1px);
    top: 0;
    background-color: rgb(var(--primary-color));
}

aside ul.aside-items li.current a {
    font-weight: bold;
}

.summary-box {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: #e7f6f8;
    border: 1px #99deea solid;
    border-radius: 0.25rem;
}

span.details-mark {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.15rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border-radius: 2rem;
    font-weight: 600;
    color: rgb(var(--info-circle-color)) !important;
    border: 0.2rem solid rgb(var(--info-circle-color));
    cursor: help;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

span.details-mark.serif {
    font-family: serif;
}

.custom-tooltip {
    position: absolute;
    background: rgb(26, 26, 26);
    color: white;
    padding: 6px 10px;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    max-width: 95vw;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: hidden;
    z-index: 99999;
    pointer-events: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-switch {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-switch.big-buttons ul.togglers {
    min-width: 100%;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.25rem;
    border-radius: 0.75rem;
    gap: 0.25rem;
    overflow-x: auto;
}

.card-switch.big-buttons ul.togglers li a,
.card-switch.big-buttons ul.togglers li {
    width: 100%;
}

.card-switch.big-buttons ul.togglers li a {
    font-size: 1.6rem !important;
    border-radius: 0.5rem !important;
}

.card-switch ul.togglers {
    width: max-content;
    overflow-x: auto;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card-switch .cards .card-item {
    border: none;
    padding: 1rem 0;
}

.card-switch ul.togglers li a.card-toggler {
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.95rem;
    line-height: 1.75 !important;
    margin: 0;
    padding: 0.35rem 1.15rem;
    background-color: transparent;
    color: #000;
    border-radius: 0.25rem 0.25rem 0 0;
    transition: all 80ms ease-in-out;
    font-weight: 450 !important;
    transition-property: background-color, color, border;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.card-switch:not(.big-buttons) ul.togglers li a.card-toggler:hover {
    background-color: rgba(var(--primary-button-color), 0.1) !important;
}

.card-switch ul.togglers li a.card-toggler.current {
    background-color: transparent;
    font-weight: bold !important;
    color: rgb(var(--primary-button-color)) !important;
}

.card-switch.big-buttons ul.togglers li a.card-toggler.current {
    background-color: rgb(var(--primary-button-color));
    color: rgb(var(--primary-button-text)) !important;
    font-weight: normal !important;
}

.card-switch.big-buttons ul.togglers li a.card-toggler:not(.current):hover {
    background-color: rgba(var(--primary-button-color), 0.15);
}

div.spinner {
    min-width: 2.5rem;
}

div.spinner.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.spinner span.spinner {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: center;
    border: 0.35rem solid #d4d4d4;
    animation: spinner_spin 900ms infinite linear;
}

div.spinner span.spinner::after {
    content: "";
    display: flex;
    width: 1.55rem;
    height: 1.5rem;
    background-color: rgb(var(--background-color));
    aspect-ratio: 1/1;
    rotate: 45deg;
    position: absolute;
    right: -50%;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider .slides .slide {
    min-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

.slider .slides .slide img {
    width: calc(100% + 10rem) !important;
    max-width: unset !important;
    margin-left: -5rem;
    display: block;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 2.5rem;
    height: 4rem;
    cursor: pointer;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider-button img {
    height: 100%;
    width: calc(100% + 2.5rem);
    max-width: unset !important;
    opacity: 0.5;
}

.swipe-left {
    left: 10px;
}

.swipe-right {
    right: 10px;
}

.current-slide-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.current-slide-indicator li {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.current-slide-indicator li.active {
    background: rgba(0, 0, 0, 0.75);
}

.items-group {
    min-width: 100%;
    max-width: unset !important;
    border-collapse: collapse;
    table-layout: fixed;
}

.items-group tr th,
.items-group tr td {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    text-align: center;
}

.items-group tr:not(:first-child):hover {
    outline: 3px solid rgb(var(--primary-color));
    outline-offset: -3px;
}

.items-group tr th {
    background-color: transparent;
    cursor: default;
}

.items-group tr:last-child td {
    border-bottom: none !important;
}

.items-group tr[data-href] {
    cursor: pointer;
}

@keyframes dropdown-show {
    0% {
        top: calc(100% - 5px);
        opacity: 0;
    }

    100% {
        top: 100%;
        opacity: 1;
    }
}

@keyframes spinner_spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@media screen and (max-width: 1280px) {

    header.gov-mark .wrapper,
    nav .wrapper,
    main div.wrapper,
    footer .wrapper {
        width: var(--wrapper-width-bp-1);
    }

    nav ul.nav {
        display: flex;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: none;
    }

    main nav.side-nav {
        width: var(--wrapper-width-bp-2);
        position: static;
        z-index: 1;
        order: -1;
        border: 2px solid rgba(var(--default-border-color), 0.1);
        border-radius: 0.5rem;
        height: auto;
    }

    header.accessibility-tools .wrapper {
        width: var(--wrapper-width-bp-1);
    }
}

@media screen and (max-width: 1024px) {

    header.gov-mark .wrapper,
    nav .wrapper,
    main div.wrapper,
    footer .wrapper {
        width: var(--wrapper-width-bp-2);
    }

    main .wrapper .row {
        flex-direction: column;
    }

    nav:not(.side-nav) ul.nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        background-color: rgb(var(--background-color));
        z-index: 991;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        font-size: 1.5rem;
        display: none;
    }

    nav ul.nav button.nav-collapse {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }

    nav button.nav-collapse {
        display: flex;
    }

    dialog div.body {
        max-width: 80%;
        min-width: unset;
        max-height: 70%;
    }

    header.accessibility-tools .wrapper {
        width: var(--wrapper-width-bp-2);
    }

    .website-intro h1.header-intro {
        font-size: 2.2rem;
    }

    .website-intro h2 {
        font-size: 1.5rem;
    }

    .slider .slides .slide {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 768px) {

    header.gov-mark .wrapper,
    nav .wrapper,
    main div.wrapper,
    footer .wrapper {
        width: var(--wrapper-width-bp-3);
    }

    header.gov-mark .wrapper .row {
        flex-direction: column;
    }

    main .wrapper .row,
    footer .wrapper .row {
        flex-direction: column;
    }

    nav {
        padding: 0.75rem !important;
    }

    main nav.side-nav {
        width: var(--wrapper-width-bp-3);
    }

    dialog div.body {
        max-width: 95%;
        width: 95%;
        max-height: 80%;
    }

    header.accessibility-tools .wrapper {
        width: var(--wrapper-width-bp-3);
        flex-direction: column;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group .button,
    .button-group.fit-text {
        width: 100% !important;
    }

    .button-group .button:first-child {
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .button-group .button.pill-rounded:first-child {
        border-radius: 1rem 1rem 0 0 !important;
    }

    .button-group .button.pill-rounded:last-child {
        border-radius: 0 0 1rem 1rem !important;
    }

    .button-group .button.l-radius:first-child {
        border-radius: 0.45rem 0.45rem 0 0 !important;
    }

    .button-group .button.l-radius:last-child {
        border-radius: 0 0 0.45rem 0.45rem !important;
    }

    .button-group .button.outlined:not(:last-child) {
        border-right: 2px solid rgb(var(--primary-color));
        border-bottom: none;
    }

    .button-group .button:last-child {
        border-radius: 0 0 0.3rem 0.3rem;
    }

    .card.message-box {
        flex-direction: column;
        justify-content: start !important;
    }

    .card.message-box div {
        width: 100% !important;
        justify-content: start;
    }

    .card.message-box .timespan {
        order: -1;
    }

    .card.message-box.mb-slim .description {
        flex-direction: column !important;
    }

    .card.message-box.mb-slim .description p {
        width: 100%;
        max-width: 100% !important;
    }

    .card.message-box.mb-slim .description p.topic {
        white-space: initial;
    }

    div.dropdown ul li a {
        font-size: 1rem;
    }
}